html,body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image:  url('../imgs/backgroundFood.png');
    background-repeat: repeat;
    background-color: black;
}


canvas {
    background-color: rgb(37, 37, 37);
    width: 960px;
    height: 500px;
    border: 2px solid black; 
    visibility: hidden;

}

h1, h2 {
    color: yellow;
}


#container {
    max-width: 60em;
    background-color: steelblue;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas: "top-left top-right top-right"
                          "game game game"
                          "btm-left btm-right btm-right";
    }

#top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(139, 134, 134);
}

#top-left {
    grid-area: top-left;
    text-align: center;
}

#top-right {
    text-align: center;
    grid-area: top-right;
    justify-content: center;
    padding-left: 5px;
}

main {
    background-image:  url('../imgs/depositphotos_78467298-stock-illustration-business-people-having-lunch-together.jpeg');
    background-size: cover;
    visibility: visible;
    grid-area: game;
    font-size: 25px;
    text-align: center;
}



#btm-left {
    grid-area: btm-left;
    
}

#btm-right {
    grid-area: btm-right;
    
}

#foodOrder {
    color: black;
}

/* #winner {
    display: none;
} */